<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lí sự kiện</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <header class="header">
        <!-- Load an icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div class="navbar">
            <a href="/home" class="logo">
                <img src="/img/logo.png" alt="Logo">
            </a>
            <div class="links">
                <a class="" href="/home"><i class="fa fa-fw fa-home"></i>Trang Chủ</a>
                <a class="active" href="/create"><i class="fa fa-fw fa-edit"></i>Tạo Sự Kiện</a>
                <!-- <div class="dropdown">
                    <p class="dropbtn">Tạo Sự Kiện
                      <i class="fa fa-fw fa-edit"></i>
                    </p>
                    <div class="dropdown-content">
                      <a href="/create" class="">Tạo Sự Kiện</a>
                    </div>
                  </div> -->
                <a class="" href="/participants"><i class="fa fa-fw fa-heart"></i>Đã Tham Gia</a>
                <!-- <a href="/login"><i class="fa fa-fw fa-user"></i>Đăng Nhập</a>
                <a href="/register" class=""><i class="fa fa-fw fa-user-plus"></i>Đăng Ký</a> -->
                <!-- <a href="#"><i class="fa fa-fw fa-envelope"></i>Liên Hệ</a> -->
                <a href="/about"><i class="fa fa-fw fa-vcard"></i>Về Chúng Tôi</a> 
                <% if (session.user) { %>
                    <a href="/logout"><i class="fa fa-fw fa-sign-out"></i>Đăng Xuất</a>
                <% } else { %>
                    <div class="dropdown">
                        <p class="dropbtn">Đăng Nhập
                          <i class="fa fa-caret-down"></i>
                        </p>
                        <div class="dropdown-content">
                          <a href="/login">Đăng Nhập</a>
                          <a href="/register">Đăng Ký</a>
                        </div>
                      </div>
                <% } %>
                
            </div>
            
            <div class="account-icon-container">
                <% if (session.user) { %>
                    <i class="fa fa-fw fa-user-circle account-icon">
                        <p class="username"><%= session.user.UserName %></p>
                    </i>
                <% } else { %>
                    <i class="fa fa-fw fa-user-circle account-icon">
                        <p class="username">Tài Khoản</p>
                    </i>
                <% } %>
            </div>
            
        </div>
    </header>

    <ul>
        <li><h2>Danh Mục</h2></li>
        <li><a href="/create" class="">Tạo sự kiện</a></li>
        <li><a href="/listevent" class="">Danh Sách Sự Kiện</a></li>
        <!-- <li><a href="/edit" class="active1">Sửa Thông Tin Sự Kiện</a></li> -->
        <!-- <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li> -->
    </ul>

    

    <div class="form-create">
        <form action="/edit" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Sửa Thông Tin Sự Kiện</legend>                
                <div class="input-user">
                    <input type="hidden" name="eventID" value="<%= event.ID_Event%>">
                    <label>Tên sự kiện: </label>
                    <input type="text" name="name" value="<%= event.Name %>" required><br>
                    <label>Thời gian bắt đầu: </label>
                    <input type="datetime-local" name="start" value="<%= new Date(event.Start_time).toISOString().slice(0, 16) %>" required><br>
                    <label>Thời gian kết thúc: </label>
                    <input type="datetime-local" name="end" value="<%= new Date(event.End_time).toISOString().slice(0, 16) %>" required><br>

                    <label>Địa điểm: </label>
                    <input type="text" name="location" value="<%= event.Location %>" required><br>
                    <label for="file">Hình ảnh:</label>
                    <input type="hidden" name="currentImageURL" value="<%= event.Image_URL %>">
                    <% if (event.Image_URL) { %>
                        <img id="image-preview" src="<%= event.Image_URL %>" alt="Hình ảnh sự kiện" style="max-width: 200px;">
                    <% } %>
                    <input type="file" id="file" name="Image_URL" accept="image/*" onchange="previewImage(event)"><br>
                    <!-- <input type="file" id="file" name="Image_URL" accept="image/*"><br> -->
                    <label>Chi tiết: </label>
                    <input type="text" name="description" value="<%= event.Description %>" required><br>
                    <label>Loại sự kiện: </label>
                    <select name="ID_type">
                        <option value="">Chọn loại sự kiện</option>
                        <option value="1" <%= event.ID_type == '1' ? 'selected' : '' %>>Âm nhạc</option>
                        <option value="2" <%= event.ID_type == '2' ? 'selected' : '' %>>Hoạt động nhóm</option>
                        <option value="3" <%= event.ID_type == '3' ? 'selected' : '' %>>Chương trình trò chuyện</option>
                    </select><br>

                    <label>Giá vào cổng: </label>
                    <input type="text" name="price" value="<%= event.Price %>" required>
                    <label>Sức chứa:</label>
                    <input type="text" name="max" value="<%= event.Max_Participants %>" required><br>
                    <input type="submit" name="submit" value="Cập nhật sự kiện">
                </div>
            </fieldset>
        </form>
    </div>
    
    <script src="/js/main.js"></script>

    <footer>
        <h6>Liên hệ chúng tôi</h6>
        <i class="fa fa-fw fa-whatsapp"></i>
        <p>1900 1090</p><br>
        <i class="fa fa-fw fa-envelope"></i>
        <p><a href="mailto:hanhnguyen6118@gmail.com">hanhnguyen6118@gmail.com</a></p>
    </footer>
</body>
</html>
