<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Xem chi tiết</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <% if (session.user && session.user.admin === 1) { %>
        <!-- Hiển thị header admin -->
        <header class="header">
            <!-- Load an icon library -->
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <div class="navbar">
                <a href="/homeadmin" class="logo">
                    <img src="/img/logo.png" alt="Logo">
                </a>
                <div class="links">
                    <a class="" href="/homeadmin"><i
                            class="fa fa-fw fa-home"></i>Trang Chủ</a>
                    <a href="/browse_event" class><i
                            class="fa fa-fw fa-check-square"></i>Duyệt Sự
                        Kiện</a>
                    <a href="/userList"><i class="fa fa-fw fa-group"></i>Quản Lý
                        Người Dùng</a>
                    <!-- <a href="/about"><i class="fa fa-fw fa-vcard"></i>Về Chúng Tôi</a>  -->
                    <% if (session.user) { %>
                    <a href="/logout"><i class="fa fa-fw fa-sign-out"></i>Đăng
                        Xuất</a>
                    <% } else { %>
                    <div class="dropdown">
                        <p class="dropbtn">Đăng Nhập
                            <i class="fa fa-caret-down"></i>
                        </p>
                        <div class="dropdown-content">
                            <a href="/login">Đăng Nhập</a>
                            <a href="/register">Đăng Ký</a>
                        </div>
                    </div>
                    <% } %>
                </div>

                <div class="account-icon-container">
                    <% if (session.user) { %>
                    <i class="fa fa-fw fa-user-circle account-icon">
                        <p class="username"><%= session.user.UserName %></p>
                    </i>
                    <% } else { %>
                    <i class="fa fa-fw fa-user-circle account-icon">
                        <p class="username">Tài Khoản</p>
                    </i>
                    <% } %>
                </div>

            </div>
        </header>
        <% } else { %>
        <!-- Hiển thị header người dùng bình thường -->
        <header class="header">
            <!-- Load an icon library -->
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <div class="navbar">
                <a href="/" class="logo">
                    <img src="/img/logo.png" alt="Logo">
                </a>
                <div class="links">
                    <a class="" href="/"><i
                            class="fa fa-fw fa-home"></i>Trang Chủ</a>
                    <a class href="/create"><i class="fa fa-fw fa-edit"></i>Tạo
                        Sự Kiện</a>

                    <!-- <div class="dropdown">
                        <p class="dropbtn">Tạo Sự Kiện
                          <i class="fa fa-fw fa-edit"></i>
                        </p>
                        <div class="dropdown-content">
                          <a href="/create" class="">Tạo Sự Kiện</a>
                          <a href="/listevent">Danh Sách Sự Kiện</a>
                          <a href="#">Quản Lý Người Tham Gia</a>
                        </div>
                      </div> -->
                    <a class href="/participants"><i
                            class="fa fa-fw fa-heart"></i>Đã Tham Gia</a>
                    <!-- <a href="/login"><i class="fa fa-fw fa-user"></i>Đăng Nhập</a>
                    <a href="/register" class=""><i class="fa fa-fw fa-user-plus"></i>Đăng Ký</a> -->
                    <!-- <a href="#"><i class="fa fa-fw fa-envelope"></i>Liên Hệ</a> -->
                    <a href="/about"><i class="fa fa-fw fa-vcard"></i>Về Chúng
                        Tôi</a>
                    <% if (session.user) { %>
                    <a href="/logout"><i class="fa fa-fw fa-sign-out"></i>Đăng
                        Xuất</a>
                    <% } else { %>
                    <div class="dropdown">
                        <p class="dropbtn">Đăng Nhập
                            <i class="fa fa-caret-down"></i>
                        </p>
                        <div class="dropdown-content">
                            <a href="/login">Đăng Nhập</a>
                            <a href="/register">Đăng Ký</a>
                        </div>
                    </div>
                    <% } %>
                </div>

                <div class="account-icon-container">
                    <% if (session.user) { %>
                    <i class="fa fa-fw fa-user-circle account-icon">
                        <p class="username"><%= session.user.UserName %></p>
                    </i>
                    <% } else { %>
                    <i class="fa fa-fw fa-user-circle account-icon">
                        <p class="username">Tài Khoản</p>
                    </i>
                    <% } %>
                </div>

            </div>
        </header>
        <% } %>

        <!-- Lặp qua danh sách sự kiện -->
        <% if (event.length > 0) { %>
        <% event.forEach(function(ev) { %>
        <div class="card mb-4 shadow-sm">
            <img src="<%= ev.Image_URL %>" class="card-img-top"
                alt="Event Image">
            <div class="card-body">
                <h5 class="card-title"><%= ev.Name %></h5>
                <p><span>Thời gian: <%= ev.Start_time %> - <%= ev.End_time
                        %></span></p>
                <p><span>Địa điểm: <%= ev.Location %></span></p>
                <p><span>Giá vào cổng: <%= ev.Price %></span></p>
                <p><span>Chi tiết: <%= ev.Description %> </span></p>
                <p><span style="color: gray;">Tạo bởi: <%= ev.Creator_Name
                        %></span></p>
                <p><span><i class="fa fa-fw fa-user icon"><%=
                            ev.Max_Participants - (ev.Participant_Count) %>/<%=
                            ev.Max_Participants %></i></span></p>
                <!-- <button class="btn btn-danger" id="heart-icon-<%= ev.ID_Event %>" onclick="registerEvent('<%= ev.ID_Event  %>', '<%= ev.Name %>')">
                        <i class="fa fa-heart"></i> Đăng ký
                    </button> -->
                <% if (!session.user || session.user.admin !== 1) { %>
                <button class="btn btn-danger"
                    id="heart-icon-<%= ev.ID_Event %>"
                    onclick="registerEvent('<%= ev.ID_Event  %>', '<%= ev.Name %>')">
                    <i class="fa fa-heart"></i> Đăng ký
                </button>
                <% } %>
                <% if ((!session.user || session.user.admin == 1) && ev.status == 0) {%>
                    <div class="btn btn-danger1">
                        
                        <form action="/approved/<%= ev.ID_Event %>" method="post"
                            onsubmit="return confirmApproval('<%= ev.Name%>')">
    
                            <button type="submit"
                                style="border: none; background: none; cursor: pointer;">
                                <i class="fa fa-fw fa-check-square"
                                    style="color: green; font-size: 50px;"></i>
                            </button>
                        </form>
                        <a href="#" onclick="showModal('<%= ev.ID_Event %>')"><i
                                class="fa fa-fw fa-close"
                                style="color: red; font-size: 50px"></i></a>
                    </div>

                    <div id="disapproveModal" class="modal">
                        <div class="modal-content">
                            <span class="close" onclick="closeModal()">&times;</span>
                            <form id="disapproveForm"
                                action="/disapproved/<%= ev.ID_Event %>" method="post">
                                <label for="reason">Lý do không duyệt:</label>
                                <input type="text" name="reason" id="reason" required>
                                <button type="submit">Xác nhận</button>
                            </form>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <% }); %>
        <% } else { %>
        <div class="alert alert-danger text-center">
            Không tìm thấy sự kiện nào.
        </div>
        <% } %>

        <script src="/js/main.js"></script>

        <footer>
            <h6>Liên hệ chúng tôi</h6>
            <i class="fa fa-fw fa-whatsapp"></i>
            <p>1900 1090</p><br>
            <i class="fa fa-fw fa-envelope"></i>
            <p><a
                    href="mailto:hanhnguyen6118@gmail.com">hanhnguyen6118@gmail.com</a></p>
        </footer>
    </body>
</html>
