
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lí sự kiện</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    
    <header class="header">
        <!-- Load an icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div class="navbar">
            <a href="/home" class="logo">
                <img src="/img/logo.png" alt="Logo">
            </a>
            <div class="links">
                <a class="" href="/home"><i class="fa fa-fw fa-home"></i>Trang Chủ</a>
                <a class="active" href="/create"><i class="fa fa-fw fa-edit"></i>Tạo Sự Kiện</a>
                <!-- <div class="dropdown">
                    <p class="dropbtn">Tạo Sự Kiện
                      <i class="fa fa-fw fa-edit"></i>
                    </p>
                    <div class="dropdown-content">
                      <a href="/create" class="">Tạo Sự Kiện</a>
                      <a href="/listvent" class="active">Danh Sách Sự Kiện</a>
                    </div>
                  </div> -->
                <a class="" href=""><i class="fa fa-fw fa-heart"></i>Đã Tham Gia</a>
                <!-- <a href="/login"><i class="fa fa-fw fa-user"></i>Đăng Nhập</a>
                <a href="/register" class=""><i class="fa fa-fw fa-user-plus"></i>Đăng Ký</a> -->
                <a href="#"><i class="fa fa-fw fa-envelope"></i>Liên Hệ</a>
                <a href="#"><i class="fa fa-fw fa-vcard"></i>Về Chúng Tôi</a> 
                <% if (session.user) { %>
                    <a href="/logout"><i class="fa fa-fw fa-sign-out"></i>Đăng Xuất</a>
                <% } else { %>
                    <div class="dropdown">
                        <p class="dropbtn">Đăng Nhập
                          <i class="fa fa-caret-down"></i>
                        </p>
                        <div class="dropdown-content">
                          <a href="/login">Đăng Nhập</a>
                          <a href="/register">Đăng Ký</a>
                        </div>
                      </div>
                <% } %>
            </div>
            
            <div class="account-icon-container">
                <% if (session.user) { %>
                    <i class="fa fa-fw fa-user-circle account-icon">
                        <p class="username"><%= session.user.UserName %></p>
                    </i>
                <% } else { %>
                    <i class="fa fa-fw fa-user-circle account-icon">
                        <p class="username">Tài Khoản</p>
                    </i>
                <% } %>
            </div>
            
        </div>
    </header>

    <ul>
        <li><h2>Danh Mục</h2></li>
        <li><a href="/create" class="">Tạo sự kiện</a></li>
        <li><a href="/listevent" class="active1">Danh Sách Sự Kiện</a></li>
        <!-- <li><a href="/edit">Sửa Thông Tin Sự Kiện</a></li> -->
        <!-- <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li> -->
    </ul>

    
      

    <div class="table">
        <h2>Danh Sách Sự Kiện Của <%= session.user.UserName %></h2>
        <% if (notify && notify.length > 0) { %>
            <div class="alert alert-success" style="color: red;">
                <%= notify[0] %>
            </div>
        <% } %>
        <table border="1">
            <thead>
                <tr>
                    <th>Tên Sự Kiện</th>
                    <th>Thời Gian Bắt Đầu</th>
                    <th>Thời Gian Kết Thúc</th>
                    <th>Địa Điểm</th>
                    <th>Hình ảnh</th>
                    <th>Chi Tiết</th>
                    <th>Loại Sự Kiện</th>
                    <th>Giá</th>
                    <th>Trạng Thái</th>
                    <th>Chỉnh Sửa</th>
                    <th>Xóa</th>
                </tr>
            </thead>
            <tbody>
                <% event.forEach( function(ev) { %>
                    <tr>
                        <td><%= ev.Name %></td>
                        <td><%= ev.Start_time %></td>
                        <td><%= ev.End_time %></td>
                        <td><%= ev.Location %></td>
                        <td><img src="<%= ev.Image_URL %>" alt="Event Image"></td>
                        <td><%= ev.Description %></td>
                        <td>
                            <% if (ev.ID_type === 1) { %>
                                Âm Nhạc
                            <% } else if(ev.ID_type === 2) { %>
                                Hoạt Động Nhóm
                            <% } else { %>
                                Chương Trình Trò Chuyện
                            <% } %>
                        </td>
                        <td><%= ev.Price %></td>
                        <td>
                            <% if (ev.status === 1) { %>
                                Đã Duyệt
                            <% } else { %>
                                Chưa Duyệt
                            <% } %>
                        </td>
                        <td><a href="/edit/<%= ev.ID_Event %>"><i class="fa fa-fw fa-edit"></i></a></td>
                        <td><a href="#" onclick="confirmDelete('<%= ev.ID_Event %>', '<%= ev.Name %>')"><i class="fa fa-fw fa-close"></i></a></td>
                    </tr>
                <% })%>
            </tbody>
        </table>
    </div>
    
    <script src="/js/main.js"></script>

</body>
</html>
